{
    "all": true,
    "exclude": [
        "index.js",
        "conf/**",
        "router/**/*.js",
        "coverage/lcov-report/*.js",
        "models/*.js",
        "controllers/**/*.js",
        "utils/job.js",
        "utils/writer.js",
        "utils/constant.js"
    ]
}